#settings
.settings/

bin/
gen/
#idea
.idea/

statics/upload/
protected/runtime/*
protected/vendors/
protected/runtime/application.log

assets/

#runtime
protected/runtime/*
protected/runtime/cache/*
statics/upload/*

